<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- CODELAB: Add meta theme-color -->
    <meta name="theme-color" content="#2F3BA2" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <!-- CODELAB: Add iOS meta tags and icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PWA-Test">
    <!-- CODELAB: Add description here -->
    <meta name="description" content="Marcel & Fils Bio PWA App">
    <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon-152x152.png">
    <title>Marcel & Fils Bio</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but marcelbio doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
      if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
      navigator.serviceWorker.register('/service-worker-dev.js')
          .then((reg) => {
            console.log('Service worker registered.', reg);
          });
        });
      }
    </script>
    <!-- CODELAB: Add the install script here -->
    <script src="/scripts/install.js"></script>
  </body>
</html>
